<div class="container">
  <div class="row main main-custom">
    <div class="row product-detail-2">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="row">
            <div id="myCarousel1" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel1" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel1" data-slide-to="2" class="active"></li>
                <li data-target="#myCarousel1" data-slide-to="3" class="active"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img src="../../../assets/banner.png" alt="First slide">
                </div>
                <div class="item">
                  <img src="../../../assets/banner.png" alt="First slide">
                </div>
                <div class="item">
                  <img src="../../../assets/banner.png" alt="First slide">
                </div>
                <div class="item">
                  <img src="../../../assets/banner.png" alt="First slide">
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <h1>Samsung Galaxy S6 Edge | Imak Flip Leather Cover Case Series</h1>
          </div>
          <div class="row">
            <div class="col-lg-6 text-left">
              <div class="product-price">
                <span>Harga</span>
                <br/> Rp 1.365.000
              </div>
            </div>
            <div class="col-lg-6 text-right">
              <button type="button" class="btn btn-lg btn-success btn-lg">Find Agen</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="row">
            <div class="col-lg-3">
              <div class="vendor-logo">
                <img src="../../../assets/banner.png">
              </div>
            </div>
            <div class="col-lg-9">
              <h2>ACC Sellular</h2>
              <div class="vendor-rating">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <div class="vendor-last-login">
                Login Terakhir : 09 Nov 2015
              </div>
              <div class="vendor-feedback">
                98% (1130 feedback)
              </div>
              <div class="vendor-reject">
                Menolak 7 pesanan dari total 100
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <h3>Stok Barang</h3>
              <div class="product-stock">
                Tersedia 30 barang
              </div>
              <h3>Spesifikasi</h3>
              <div class="product-specifications">
                Kategori: Case & Cover Brand: Lain-lain Berat: 0.35 kg
              </div>
              <h3>Deskripsi Barang</h3>
              <div class="product-descriptions">
                <p>
                  Imak Flip Leather Cover Case Series for Samsung Galaxy S6 Edge
                  <br/> An Excellent protection for your smartphone
                  <br/> Imak Le Series untuk Samsung Galaxy S6 Edge. Le Series merupakan case
                  <br/> terbaru Imak yang terbuat dari bahan material kulit berkualitas untuk
                  <br/> mellindungi smartphone. Hadir dengan design corak yang elegan, case ini
                  <br/> juga dapat digunakan sebagai stand.
                  <br/>
                  <br/> Features

                  <br/> Fashion, Simple, Perfect
                  <br/> Imak Leather Case untuk Samsung Galaxy S6 Edge Inch hadir dengan design
                  <br/> yang ringan, tipis, serta modis untuk menambah kesan stylish bagi
                  <br/> smartphone Anda.
                  <br/>
                  <br/> Leather Materials bring best protection for your mobile phone
                  <br/> Imak Leather Case untuk Samsung Galaxy S6 Edge menggunakan bahan
                  <br/> kulit berkualitas untuk melindungi smartphone dari goresan, guncangan dan
                  <br/> kotoran lainnya
                  <br/>
                  <br/> The Surface is Dustproof, Anti fingerprint, and Easy To Clean
                  <br/> Imak Leather Case untuk Samsung Galaxy S6 Edge ini pun dilengkapi dengan
                  <br/> anti fingerprint, sehingga melindungi smartphone Anda dari bercakan tangan
                  <br/> yang mengganggu, serta dapat mencegah debu-debu kecil menempel.
                  <br/> Walaupun terdapat debu atau kotoran yang menempel, Anda dapat dengan
                  <br/> mudah membersihkannya.
                  <br/>
                  <br/> Easy Access to All Buttons
                  <br/> Anda tetap mendapat akses ke setiap port dan button yang terdapat di device
                  <br/> Anda dengan gampang.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>